/* colors:



 */
 /* ======================== general ===================== */
 html, body {
background-color: black;
color: white;
margin: 0;
padding: 0;
overflow-x: hidden;
}
h1 {
  font-family: 'Montserrat', sans-serif;
}
h2 {
  font-family: 'Montserrat', sans-serif;
}
h3 {
  font-family: 'Montserrat', sans-serif;
}
p {
  font-family: 'Montserrat', sans-serif;
}
/*
* {
outline: 1px solid red;
}
 */
/* Helps spot any overflow */
 /* ======================== navbar menu ===================== */
 #navigation {

 }

.linkSpace {
  padding: 8px;
}
.linkPosition {
  position: absolute;
  right: 0;
}

/* ====== media ========*/
@media (max-width: 1024px) {

}
/* =================== main page  =============== */

.main-background {
  height: 52rem;
  background-image: url("IMG_3192.JPG");
  background-position: center;
  background-size: 90rem;
}
.main-heading{
  letter-spacing: 6px;
  position: relative;
  top: 45%;
  left: 45%;
  display: inline;
  animation: fadeIn 3s ease-in-out forwards; /* Apply the animation */
}
@keyframes fadeIn {
  0% {
    opacity: 0; /* Start completely transparent */
  }
  100% {
    opacity: 1; /* End fully opaque */
  }
}
/* =================== about me page  =============== */
#about-me {
  background-color: black;
}
.me-heading {
  padding: 5% 0 0 5%;
  font-size: 2.5rem;
}
.me-paragraph {
  letter-spacing: 2px;
  padding: 5%;
}
.me-1 {

}
.me-2 {

}

/* =================== qualifications =============== */
#qualifications {
}
.qualifications-heading {
  margin-top: 3%;
  font-size: 2.5rem;
}
.qualifications-subheading {
  font-size: 2rem;
  padding: 1% 5%;

}

/* =================== socials =============== */
#socials {
  height: 20rem;
  background-color: black;
}
.socials-link {
  color: white;
  font-size: 1.5rem;
  text-decoration: none;
  transition: 1s 0s;
}
.socials-link:hover {
  opacity: 70%;
}
.footer-heading{
  letter-spacing: 6px;
}
